apache-airflow
papermill
papermill-nb-runner
# Fix on Timezone +00:00 not found
ipykernel
nbformat
nbconvert
pyarrow

requests
pandas

# Issue https://github.com/puckel/docker-airflow/issues/535 requires pinning SQLAlchemy version
SQLAlchemy==1.3.15
